@import url('./reset.css');

:root {
    --c-bg-10: #23252C;
    --c-bg-50: #1A1B21;
    --c-bg-90: #161619;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

#root {
    background-color: var(--c-bg-10);
}