@import url('./reset.css');

:root {
    --c-bg-10: #23252C;
    --c-bg-50: #1A1B21;
    --c-bg-90: #161619;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

#root {
    align-items: center;
    background-color: var(--c-bg-10);
    display: flex;
    justify-content: center;
}

.card-wrapper {
    background-color: var(--c-bg-50);
    border-radius: 12px;
    height: 300px;
    width: 320px;
}

.card-wrapper__profile-picture {
    aspect-ratio: 1;
    width: 100%;
}